{% extends 'main.html' %}


{% load static %}


{% block content %}

<section class="container2">
    <header>Task Creation form</header>
    <form action="#" class="form" method="POST">
      {% csrf_token %}
        

      <div class="input-box">
        <label for="{{ form.title.id_for_label }}">Title</label>
        {{ form.title }}
      </div>
      <div class="input-box">
        <label for="{{ form.description.id_for_label }}">Description</label>
        {{ form.description }}
      </div>
      <div class="input-box">
        <label for="{{ form.due_date.id_for_label }}">Due date</label>
        {{ form.due_date }}
      </div>
     <div class="input-box">
         <label for="{{ form.priority.id_for_label }}">Priority</label>
         {{ form.priority }}
     </div>

    <div class="input-box">
        <label for="{{ form.matter.id_for_label }}">Matter</label>
        {{ form.matter }}
    </div>


    <div class="gender-box">
      <h3>Asignee</h3>
      <div class="select-btn" id="select-btn-1">
        <span class="btn-text">Select Language</span>
        <span class="arrow-dwn">
            <i class="fa-solid fa-chevron-down"></i>
        </span>
      </div>

      <ul class="list-items">
        {{ form.assigned_to }}
      </ul>
    </div>

    <!-- modified_by -->

    <div class="input-box">
      <label for="{{ form.modified_by.id_for_label }}">Modified by</label>
      {{ form.modified_by }}
    </div>


    <!-- private -->

    <div class="input-box">
      <label for="{{ form.private.id_for_label }}">Private</label>
      {{ form.private }}
    </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>


{% endblock %}
