{% extends 'main.html' %}


{% load static %}


{% block content %}

<section class="container2">
    <header>Task Creation form</header>
    <form action="#" class="form" method="POST">
      {% csrf_token %}
        

      <div class="input-box">
        <label for="{{ form.title.id_for_label }}">Title</label>
        {{ form.title }}
      </div>
      <div class="input-box">
        <label for="{{ form.description.id_for_label }}">Description</label>
        {{ form.description }}
      </div>
      <div class="input-box">
        <label for="{{ form.due_date.id_for_label }}">Due date</label>
        {{ form.due_date }}
      </div>
     <div class="input-box">
         <label for="{{ form.priority.id_for_label }}">Priority</label>
         {{ form.priority }}
     </div>

    <div class="input-box">
        <label for="{{ form.matter.id_for_label }}">Matter</label>
        {{ form.matter }}
    </div>


    <div class="gender-box">
      <h3>Asignee</h3>
      <div class="select-btn" id="select-btn-1">
        <span class="btn-text">Select Language</span>
        <span class="arrow-dwn">
            <i class="fa-solid fa-chevron-down"></i>
        </span>
      </div>

      <ul class="list-items">
        {{ form.assigned_to }}
      </ul>
    </div>


  
      <div class="column">
        <div class="input-box">
            <label for="{{ form.open_date.id_for_label }}">Open Date</label>
            {{ form.open_date }}
          </div>
        <div class="input-box">
            <label for="{{ form.close_date.id_for_label }}">Close Date</label>
            {{ form.close_date }}
        </div>
      </div>
  
      <div class="column">
        <div class="input-box">
            <label for="{{ form.original_lawyer.id_for_label }}">Original Lawyer</label>
            {{ form.original_lawyer }}
        </div>
  
        <div class="input-box">
            <label for="{{ form.current_lawyer.id_for_label }}">Current Lawyer</label>
            {{ form.current_lawyer }}
        </div>
      </div>
      
      <div class="gender-box">
        <h3>Participants</h3>
        <div class="select-btn" id="select-btn-1">
          <span class="btn-text">Select Language</span>
          <span class="arrow-dwn">
              <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>
  
        <ul class="list-items">
          {{ form.participants }}
        </ul>
      </div>
  
      <div class="checkbox-container">
        <input type="checkbox" id="cb1" disabled checked>
        <label for="cb1">Checkbox 1</label>
      </div>
  
  
  
      <div class="gender-box">
        <h3>Individual Client</h3>
        <div class="select-btn" id="select-btn-2">
          <span class="btn-text">Select Language</span>
          <span class="arrow-dwn">
              <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>
  
        <ul class="list-items">
          {{ form.individual_client }}
        </ul>
      </div>
  
      <div class="gender-box">
        <h3>Business Client</h3>
        <div class="select-btn" id="select-btn-3">
          <span class="btn-text">Select Language</span>
          <span class="arrow-dwn">
              <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>
  
        <ul class="list-items">
          {{ form.business_client }}
        </ul>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>

  <h3>Create a Task</h3>


<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}


    <input type="submit" name="Submit">
</form>

{% endblock %}
