{% extends 'main.html' %}


{% load static %}



{% block content %}

<section class="container2">
    <header>Matter Creation Form</header>
    <form action="#" class="form" method="POST">
        {% csrf_token %}
    
      <label for="">Type</label>
      <div class="column">
        <div class="select-box">
          <select>

            <option hidden>Type</option>
            {% for matter_type in form.type %}
              <option>{{ matter_type }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="input-box">
        <label>Title</label>
        {{ form.title }}
      </div>

      <div class="input-box">
        <label>Description</label>
        {{ form.description }}
    </div>
    

      <label for="">Category</label>
      <div class="column">
        <div class="select-box">
          <select>
            <option hidden>category</option>
            
            {% for category in form.category %}
              <option>{{ category }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="column">
        <div class="input-box">
          <label>ref code</label>
            {{ form.ref_code }}
        </div>
      </div>



      <div class="column">
        <div class="input-box">
            <label>start date</label>
            {{ form.start_date }}
          </div>
        <div class="input-box">
          <label>close date</label>
            <input type="date" placeholder="Enter birth date" />
            {{ form.close_date }}
        </div>
      </div>

      <div class="column">
        <div class="input-box">
            <label>Original Lawyer</label>
            <div class="select-box">
                <select>
                  <option hidden>Original Lawyer</option>
                  
                  {% for lawyer in form.lawyers %}
                    <option>{{ lawyer }}</option>
                  {% endfor %}
                </select>
            </div>
        </div>

        <div class="input-box">
            <label>Active Lawyer</label>
            <div class="select-box">
                <select>
                  <option hidden>Active Lawyer</option>
                  {% for lawyer in form.lawyers %}
                  <option>{{ lawyer }}</option>
                  {% endfor %}
                </select>
            </div>
        </div>
      </div>
      
      <div class="gender-box">
        <h3>Participants</h3>
        <div class="select-btn" id="select-btn-1">
          <span class="btn-text">Select Language</span>
          <span class="arrow-dwn">
              <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>

        <ul class="list-items">
            {% for participant in participants %}
                <li class="item">
                    <span class="checkbox">
                        <i class="fa-solid fa-check check-icon"></i>
                    </span>
                    <span class="item-text">{{ participant }}</span>
                </li>
            {% endfor %}
      
        </ul>
      </div>




      <div class="gender-box">
        <h3>Individual Client</h3>
        <div class="select-btn" id="select-btn-2">
          <span class="btn-text">Select Client</span>
          <span class="arrow-dwn">
              <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>

        <ul class="list-items">

            {% for participants in form.participants %}
                <li class="item">
                    <span class="checkbox">
                        <i class="fa-solid fa-check check-icon"></i>
                    </span>
                    <span class="item-text">{{ participants }}</span>
                </li>
            {% endfor %}
            <!-- {% for client in individual_clients %}
                <li class="item">
                    <span class="checkbox">
                        <i class="fa-solid fa-check check-icon"></i>
                    </span>
                    <span class="item-text">{{ client }}</span>
                </li>
            {% endfor %} -->
      
        </ul>
      </div>

      <div class="gender-box">
        <h3>Business Client</h3>
        <div class="select-btn" id="select-btn-3">
          <span class="btn-text">Select Language</span>
          <span class="arrow-dwn">
              <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>

        <ul class="list-items">
            {% for client in business_clients %}
                <li class="item">
                    <span class="checkbox">
                        <i class="fa-solid fa-check check-icon"></i>
                    </span>
                    <span class="item-text">{{ client }}</span>
                </li>
            {% endfor %}
      
        </ul>
      </div>
      <button>Submit</button>
    </form>
</section>



{% endblock %}

