    <h1>{{ firm.name }}</h1>
  <p>Tagline: {{ firm.tagline }}</p>
  <p>Email: {{ firm.email }}</p>
  <p>Phone: {{ firm.phone }}</p>
  <p>Website: <a href="{{ firm.website }}">{{ firm.website }}</a></p>
  <p>Address: {{ firm.address }}</p>
  <p>Currency Code: {{ firm.currency_code }}</p>
  <p>Tax PIN: {{ firm.tax_pin }}</p>
  <p>Physical Address: {{ firm.physical_address }}</p>
  <p>Bank: {{ firm.bank }}</p>
  <p>Bank Account Name: {{ firm.bank_account_name }}</p>
  <p>Bank Account Number: {{ firm.bank_account_number }}</p>
  <p>Bank Branch: {{ firm.bank_branch }}</p>