<h3>Tasks</h3>

<!-- {% if tasks %}
    <ul>
    {% for task in tasks %}
        <li><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a> - {{ task.description }}</li>
    {% endfor %}
    </ul>
{% else %}
    {% if is_admin %}
        <p>No tasks assigned to users.</p>
    {% else %}
        <p>No tasks assigned to you.</p>
    {% endif %}
{% endif %} -->


<section class="cards">

    <div class="left_side">
        <div class="card">
            <h3>Card 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
        </div>
        <div class="card">
            <h3>Card 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
        </div>
        <div class="card">
            <h3>Card 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
        </div>
    </div>

    <div class="right_side">
        <div class="card">
            <h3>Card 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
        </div>
        <div class="card">
            <h3>Card 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
        </div>
        <div class="card">
            <h3>Card 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
        </div>
    </div>
